accelerate==1.11.0
aiohappyeyeballs==2.6.1+computecanada
aiohttp==3.12.15+computecanada
aiosignal==1.4.0+computecanada
annotated_types==0.7.0+computecanada
anyio==3.7.1+computecanada
astor==0.8.1+computecanada
asttokens==3.0.0+computecanada
attrs==25.3.0+computecanada
bitsandbytes==0.48.1+computecanada
blake3==1.0.4+computecanada
blobfile==3.1.0+computecanada
cachetools==6.2.1
cbor2==5.7.0+computecanada
certifi==2025.8.3+computecanada
cffi==1.17.1+computecanada
charset_normalizer==3.4.3+computecanada
click==8.3.0+computecanada
cloudpickle==3.1.1+computecanada
comm==0.2.3+computecanada
compressed_tensors==0.10.2+computecanada
contourpy==1.3.1+computecanada
cupy==13.3.0+computecanada
cycler==0.12.1+computecanada
debugpy==1.8.16+computecanada
decorator==5.2.1+computecanada
depyf==0.19.0+computecanada
dill==0.4.0+computecanada
diskcache==5.6.3+computecanada
distro==1.9.0+computecanada
dnspython==2.8.0+computecanada
einops==0.8.1+computecanada
email_validator==2.3.0+computecanada
executing==2.2.1
fastapi==0.119.0
fastapi-cli==0.0.13
fastapi-cloud-cli==0.3.1
fastjsonschema==2.21.2+computecanada
fastrlock==0.8.1+computecanada
filelock==3.19.1+computecanada
flash_attn==2.8.3+computecanada
fonttools==4.61.0
frozenlist==1.8.0+computecanada
fsspec==2025.9.0+computecanada
gguf==0.17.1+computecanada
h11==0.16.0+computecanada
hf_xet==1.1.9+computecanada
httpcore==1.0.9+computecanada
httptools==0.6.4+computecanada
httpx==0.28.1+computecanada
huggingface_hub==0.34.5+computecanada
idna==3.10+computecanada
interegular==0.3.3+computecanada
ipykernel==6.30.1+computecanada
ipython==9.5.0
ipython_pygments_lexers==1.1.1+computecanada
ipywidgets==8.1.7+computecanada
jedi==0.19.2+computecanada
jinja2==3.1.6+computecanada
jiter==0.11.0
joblib==1.5.2+computecanada
jsonschema==4.25.1+computecanada
jsonschema_specifications==2025.9.1+computecanada
jupyter_client==8.6.3+computecanada
jupyter_core==5.8.1+computecanada
jupyterlab_widgets==3.0.15+computecanada
kiwisolver==1.4.8+computecanada
lark==1.2.2+computecanada
llguidance==0.7.30+computecanada
llvmlite==0.44.0+computecanada
lm_format_enforcer==0.10.12+computecanada
lxml==5.3.1+computecanada
markdown_it_py==4.0.0+computecanada
MarkupSafe==3.0.2+computecanada
matplotlib==3.10.1+computecanada
matplotlib_inline==0.1.7+computecanada
mdurl==0.1.2+computecanada
mistral_common==1.8.5
mpmath==1.3.0+computecanada
msgpack==1.1.0+computecanada
msgspec==0.18.6+computecanada
multidict==6.7.0+computecanada
nbformat==5.10.4+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.5+computecanada
ninja==1.11.1+computecanada
numba==0.61.2+computecanada
numpy==2.2.2+computecanada
openai==2.3.0
openai_harmony==0.0.4+computecanada
outlines_core==0.2.10+computecanada
packaging==25.0+computecanada
parso==0.8.5+computecanada
partial_json_parser==0.2.1.1.post6+computecanada
pexpect==4.9.0+computecanada
pillow==11.1.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
platformdirs==4.4.0+computecanada
prometheus_client==0.23.1+computecanada
prometheus_fastapi_instrumentator==7.1.0+computecanada
prompt_toolkit==3.0.52
propcache==0.4.1+computecanada
protobuf==6.32.1+computecanada
psutil==7.0.0+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
py_cpuinfo==9.0.0+computecanada
pybase64==1.4.1+computecanada
pycountry==24.6.1+computecanada
pycparser==2.23+computecanada
pycryptodomex==3.19.0+computecanada
pydantic==2.12.0
pydantic-extra-types==2.10.6
pydantic_core==2.41.1+computecanada
pygments==2.19.2+computecanada
pyparsing==3.2.5+computecanada
python-json-logger==4.0.0
python_dateutil==2.9.0.post0+computecanada
python_dotenv==1.1.1+computecanada
python_multipart==0.0.20+computecanada
PyYAML==6.0.2+computecanada
pyzmq==27.0.2+computecanada
ray==2.49.1+computecanada
referencing==0.36.2+computecanada
regex==2024.11.6+computecanada
requests==2.32.5+computecanada
rich==14.2.0+computecanada
rich_toolkit==0.15.1+computecanada
rignore==0.6.2+computecanada
rpds_py==0.27.0+computecanada
safetensors==0.5.3+computecanada
scikit_learn==1.7.1+computecanada
scipy==1.16.2+computecanada
sentencepiece==0.2.0+computecanada
sentry-sdk==2.41.0
setproctitle==1.3.4+computecanada
shellingham==1.5.4+computecanada
six==1.17.0+computecanada
sniffio==1.3.1+computecanada
soundfile==0.13.1+computecanada
soxr==0.5.0.post1+computecanada
stack_data==0.6.3+computecanada
starlette==0.48.0+computecanada
sympy==1.14.0+computecanada
threadpoolctl==3.6.0+computecanada
tiktoken==0.11.0+computecanada
tokenizers==0.22.0+computecanada
torch==2.7.1+computecanada
torchaudio==2.7.1+computecanada
torchvision==0.22.1+computecanada
tornado==6.5.2+computecanada
tqdm==4.67.1+computecanada
traitlets==5.14.3+computecanada
transformers==4.57.1
triton==3.3.1+computecanada
typer==0.19.2+computecanada
typing-inspection==0.4.2
typing_extensions==4.15.0+computecanada
urllib3==2.5.0+computecanada
uvicorn==0.37.0+computecanada
uvloop==0.20.0+computecanada
vllm==0.10.1.1+computecanada
watchfiles==0.18.0+computecanada
wcwidth==0.2.13+computecanada
websockets==15.0.1+computecanada
widgetsnbextension==4.0.14+computecanada
xformers==0.0.31.post1
xgrammar==0.1.21+computecanada
yarl==1.22.0
